[Unit]
Description=Remote control of Roon via keyboard
After=getty@tty2.service

[Service]
Type=idle
ExecStart=/usr/local/bin/node /opt/roon-extension-keyboard-remote /etc/roon-extension-keyboard-remote
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=default.target
